* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.row img {
  width: 100%;
}

.column-full {
  flex-basis: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: calc(100% / 3 * 2);
}

.column-one-fourth {
  flex-basis: 25%;
}
